* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F3F2ED;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    
}

.contact {
    margin-top: 45px;
    
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    
}

.form .form-txt {
    flex-basis: 48%;
}

.form .form-txt h1 {
    font-weight: 600;
    color: black;
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    color: grey;
}

.form .form-txt span {
    color: grey;
    font-size: 14px;
}

.form .form-txt h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
    color: grey;
}

.form .form-txt p {
    color: grey;
    font-size: 14px;
}

.form .form-details {
    flex-basis: 48%;
}

.form .form-details input[type="text"],
.form .form-details input[type="email"] {
    padding: 15px 20px;
    color: black;
    outline: none;
    border: 1px solid rgb(155, 146, 146);
    margin: 35px 15px;
    font-size: 14px;
}

.form .form-details textarea {
    padding: 15px 20px;
    margin: 0 15px;
    color: black;
    outline: none;
    border: 1px solid ;
    font-size: 14px;
    resize: none;
}

.form .form-details input[type="submit"] {
    padding: 15px 25px;
    color: white;
    font-weight: 500;
    background: black;
    outline: none;
    border: none;
    margin: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .form {
        display: flex;
        flex-direction: column;
    }

    .form .form-details input[type="submit"] {
        margin-left: 0;
    }

    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }

    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}

@media(min-width: 501px) and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
    }

    .form .form-details input[type="submit"] {
        margin-left: 0;
    }

    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }

    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}

iframe{
    height: 200px;
    
}

#header {
	height: 100px;
	margin: 0;
	padding: 0;
	margin: auto;
	text-align: center;
	padding-top: 30px;

}

